/*
; =======================================================
; Title: register.component.css (Week 6)
; Authors: [Tyler Armstrong], David Tarvin, Aaron Wilson
; Date: 23 Oct 2019
; Description: Bob's Computer Repair Shop
; Legend: [] -> Team member responsible for page.
; =======================================================
*/

.warn {
  color: red;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-top: 200px;
}

.mat-card {
  text-align: center;
}

.mat-form-field {
  width: 90%;
  font-size: 1.5em;
}

.mat-form-field:first-of-type {
  margin-top: 20px;
}

.mat-card-actions .mat-raised-button {
  width: 90%;
  margin-top: 25px;
}

.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: -25px;
}

