/*
; =======================================================
; Title: custom-theme.scss (Week 6)
; Authors: [Tyler Armstrong], David Tarvin, Aaron Wilson
; Date: 23 Oct 2019
; Description: Bob's Computer Repair Shop
; Legend: [] -> Team member responsible for page.
; =======================================================
*/


@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #aab0fb,
    100 : #616df8,
    200 : #2c3bf5,
    300 : #0a19cf,
    400 : #0816b2,
    500 : #071295,
    600 : #060e78,
    700 : #040b5b,
    800 : #03073d,
    900 : #020420,
    A100 : #9ca4ff,
    A200 : #3646ff,
    A400 : #0010cf,
    A700 : #0411b2,
    contrast: (
        50 : #000000,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mcgpalette1: (
    50 : #ffffff,
    100 : #f6ffbd,
    200 : #eeff85,
    300 : #e4fe3e,
    400 : #dffe1f,
    500 : #dbfe01,
    600 : #c1e001,
    700 : #a6c101,
    800 : #8ca301,
    900 : #728401,
    A100 : #ffffff,
    A200 : #f1ff99,
    A400 : #e3ff33,
    A700 : #dfff1a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgpalette2: (
    50 : #fffdfd,
    100 : #f8b8ba,
    200 : #f38589,
    300 : #ec444a,
    400 : #ea282f,
    500 : #dd161d,
    600 : #c11319,
    700 : #a51016,
    800 : #890e12,
    900 : #6e0b0e,
    A100 : #fff3f3,
    A200 : #ff8d91,
    A400 : #fc2a32,
    A700 : #ef1d25,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$my-app-primary: mat-palette($md-mcgpalette0, 300, 500, 900);
$my-app-accent:  mat-palette($md-mcgpalette1, 500, 900, A100);
$my-app-warn:    mat-palette($md-mcgpalette2);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

html {
  
    // Get a specific hue for a palette. 
    // See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.
    background-color: mat-color($my-app-primary, 50);
  }

  body {

    background-color: mat-color($my-app-primary, 50);
    
    }